{% extends 'base.html' %}
{% block title %} About Us {% endblock title %}

{% block body %}
<h1 style="color:black">
    About Us
</h1>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3" ><strong>Snapshot</strong></h1>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    </div>
  </div>
<div class="container">
<div class="row">
      <div class="col-md-4">
        <h2>Vision</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Inception</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Team</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>
</div>

<!--footer-->
<footer class="footer" style="background-color:grey">
        <div class="footer-container">
            <span>
                <ul class="navbar-nav mr-auto">
                    <li class="mx-2">
                        <a class="nav-link" href="/aboutUs" style="display:inline-block; color:black;">About Us</a>
                    </li>
                    <li class="mx-2">
                         <a class="nav-link" href="/contactUs" style="display:inline-block; color:black;">Contact US</a>
                    </li>
                    <li class="mx-2">
                        <p style="color:black;">© 2020 Bhagyavant_Avantgi</p>
                    </li>
                </ul>
            </span>
        </div>
    </footer>
{% endblock body %}
